.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
    padding: 20px;
    
    img{
        width: 200px;
    }

    .nav-links{
        display: flex;
        justify-content: flex-end;
        
        li{
            @include assign-fontstye (16px, black, 500);
            padding: 0 20px;
            cursor: pointer;
        }
        li:hover{
            background-color: var(--green);
            border-radius: 15px;
            color:var(--white);

        }
    }
}