.container{
    padding: 10px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.container-card{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    
    .boxpicture{
        text-align: center;
        h2{
        text-align: center;
        @include assign-fontstye (20px, var(--green), 700);
        }
        img{

            width: 200px;
            height: 200px;
        }
    }
}

.container-card:hover{
    border:2px solid var(--green)
}
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 80px;
    height: 80px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid var(--green); /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  .disable{
    pointer-events: none;
opacity: 0.7;

  }

  .boxfooter2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


    .counter{
      color:rgb(255, 0, 0);
    }

    button{
      background-color:#20bf55;
      background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%);
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        @include assign-fontstye (15px, var(--white), 700);
    }
}

