@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;700&display=swap');

:root{
    --green: rgba(23,184,196,255); 
    --fontfamily: 'Assistant', sans-serif;
    --white:#fff;
    --darkgrey:#484848;
    --grey:#767676;
}